.basket-button {
  background-color: var(--clr-primary-bg);
  border-radius: 40px;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
  color: #ffffff;
}

.basket-button:hover {
  transition: all 0.3s ease;
  box-shadow:
    0 0 5px #ff9900,
    0 0 5px #ff9900,
    0 0 5px #ff6600,
    0 0 10px #ff6600;
  transform: scale(1);
}

.add-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  right: 5px;
  width: 100px;
  height: 35px;
  border-radius: 5px;
  background-color: #ffffff;
  cursor: pointer;
  bottom: 5px;
  position: absolute;
}

.add-btn:hover {
  color: #e76c1f;
  transition: all 0.3s ease;
  box-shadow:
    0 0 5px #ff9900,
    0 0 5px #ff9900,
    0 0 5px #ff6600,
    0 0 10px #ff6600;
  transform: scale(1);
}

.delete-btn {
  background-color: #ffffff;
  border: none;
  background-image: url('../assets/icons/delete_icon.svg');
  cursor: pointer;
  transition: background-image 0.2s ease-in-out;
  height: 18px;
  width: 16px;
}

.delete-btn:hover {
  background-image: url('../assets/icons/delete_icon_press.svg');
}

.remove-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
  padding: 0;
  border: 1px solid #ccc;
  background-color: white;
  cursor: pointer;
  font-size: 20px;
  font-family: monospace;
  line-height: 1;
  border: none;
}

.remove-btn:hover {
  color: var(--clr-primary-bg);
}

.method-btn {
  cursor: pointer;
  border: none;
  border-radius: 12px;
  padding: 5px;
  font-weight: bold;
}

.method-btn:hover {
  color: #e76c1f;
  transition: all 0.3s ease;
  box-shadow:
    0 0 5px #ff9900,
    0 0 5px #ff9900,
    0 0 5px #ff6600,
    0 0 10px #ff6600;
  transform: scale(1);
}

.close-btn {
  background-color: #363534;
  border: none;
  cursor: pointer;
}

.close-btn img {
  width: 16px;
}

.nav-item {
  display: inline-flex;
  background-color: var(--clr-primary-txt);
  position: relative;
  justify-content: center;
  align-items: center;
}
