:root {
  --clr-primary-bg: #e76c1f;
  --clr-secondary-bg: #ffffff;
  --clr-teritiary-bg: #fdeadc;
  --clr-quaternary-bg: #facaac;
  --clr-primary-txt: #363534;
}

.basket {
  width: 350px;
  height: 800px;
  position: sticky;
  position: fixed;
  right: 0;
  top: 30%;
}
