@font-face {
  font-family: 'Palanquin';
  src: url('../assets/fonts/palanquin/Palanquin-Regular.ttf');
}

@font-face {
  font-family: 'Palanquin Dark';
  src: url('../assets/fonts/palanquin_dark/PalanquinDark-Regular.ttf');
}
