/* :root {
  --clr-primary-bg: #e76c1f;
  --clr-secondary-bg: #ffffff;
  --clr-teritiary-bg: #fdeadc;
  --clr-quaternary-bg: #facaac;
  --clr-primary-txt: #363534;
} */

@media (max-width: 1000px) {
  .media-basket {
    display: flex;
  }

  .basket {
    display: none;
  }

  .mobile-nav {
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    justify-content: space-around;
    background-color: var(--clr-primary-txt);
    padding: 10px 0;
    z-index: 10001; /* Höherer Wert übernommen */
    border: none;
    border-radius: 12px 12px 0 0;
  }

  body.dialog-open {
    overflow: hidden;
  }
}

@media (max-width: 1000px) and (min-width: 401px) {
  .media-basket[open] {
    width: 400px;
    height: 600px;
    max-height: 80vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 12px;
  }
}

@media (max-width: 400px) {
  .media-basket[open] {
    width: 100%;
    height: calc(100% - 40px);
    top: 0;
    left: 0;
    transform: none;
    border-radius: 12px;
    margin: 0;
  }
}
