@media (max-width: 1000px) {
  .media-basket {
    display: flex;
  }

  .basket {
    display: none;
  }

  .mobile-nav {
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    justify-content: space-around;
    background-color: var(--clr-primary-txt);
    padding: 10px 0;
    z-index: 10001;
    border: none;
    border-radius: 12px 12px 0 0;
  }

  body.dialog-open {
    overflow: hidden;
  }
}

@media (max-width: 1000px) and (min-width: 401px) {
  .media-basket[open] {
    width: 400px;
    height: 600px;
    max-height: 80vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 12px;
  }
}

@media (max-width: 400px) {
  .media-basket[open] {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90vw;
    height: 40vh;
    border-radius: 12px;
    margin: 0;
  }
}

@media (min-width: 1001px) {
  dialog.media-basket[open] {
    display: flex;
    width: 200vw;
    height: 200vh;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition:
      width 0.5s ease,
      height 0.5s ease,
      opacity 0.3s;
  }

  html.dialog-open,
  body.dialog-open {
    overflow: visible;
    height: auto;
  }
  .main-layout-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    width: 100%;
  }
  .basket {
    max-height: calc(60vh - 40px);
    overflow-y: auto;
  }
}
