:root {
  --clr-primary-bg: #e76c1f;
  --clr-secondary-bg: #ffffff;
  --clr-teritiary-bg: #fdeadc;
  --clr-quaternary-bg: #facaac;
  --clr-primary-txt: #363534;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-family: 'Palanquin';
  color: var(--clr-primary-txt);
  display: flex;
  flex-direction: column;
}
a {
  text-decoration: none;
  color: black;
}

p {
  font-size: 24px;
  font-weight: bold;
}
.order-section {
  background-color: var(--clr-secondary-bg);
  flex: 1;
  position: relative;
  width: 100%;
}

h2 {
  color: #ffffff;
}

h3 {
  font-size: 24px;
  font-weight: 600;
}

.sub-nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: clamp(10px, 2vi, 20px);
  font-size: 20px;
  width: 100%;
  padding: clamp(20px, 5vi, 50px) 15px clamp(15px, 3vi, 30px);
}

.sub-nav a:hover {
  color: #e76c1f;
  transition: all 0.3s ease;
  box-shadow:
    0 0 5px #ff9900,
    0 0 5px #ff9900,
    0 0 5px #ff6600,
    0 0 10px #ff6600;
  border-radius: 12px;
  transform: scale(1);
}

.nav-item .hover-icon {
  display: none;
}

.nav-item:hover .default-icon {
  display: none;
}

.nav-item:hover .hover-icon {
  display: block;
}

.dishes {
  flex: 1;
  max-width: 1000px;
  padding: 50px 16px;
  margin: 0;
}

.burger-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  padding: 5px 5px;
  background-color: var(--clr-teritiary-bg);
  width: 100%;
  border-radius: 12px;
  margin-bottom: 10px;
  overflow: hidden;
}

.burger_img {
  height: 121px;
  width: 210px;
  object-fit: cover;
  border-radius: 12px;
  flex-shrink: 0;
}

.card-body {
  display: flex;
  flex-direction: column;
  min-width: 200px;
  flex: 1;
  gap: 3px;
  position: relative;
  padding-bottom: 40px;
  align-items: center; /* Zentriert Überschrift, Beschreibung und Preis */
  justify-content: center;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.menu_description {
  font-size: 16px;
}

.price {
  font-size: 24px;
  margin: 0;
  white-space: nowrap;
}

.mobile-nav {
  display: none;
}

aside {
  width: 350px;
  position: sticky;
  top: 20px;
  background-color: var(--clr-secondary-bg);
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  min-width: 300px;
  overflow-y: auto;
}
