:root {
  --clr-primary-bg: #e76c1f;
  --clr-secondary-bg: #ffffff;
  --clr-teritiary-bg: #fdeadc;
  --clr-quaternary-bg: #facaac;
  --clr-primary-txt: #363534;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-family: 'Palanquin';
  color: var(--clr-primary-txt);
  display: flex;
  flex-direction: column;
}
a {
  text-decoration: none;
}

p {
  font-size: 24px;
  font-weight: bold;
}
.order_section {
  background-color: var(--clr-secondary-bg);
}

h2 {
  color: #ffffff;
}
