h2 {
  font-family: 'Palanquin';
}

h1 {
  font-family: 'Palanquin Dark';
  text-wrap: balance;
}

.header-main {
  height: 80px;
  background-color: var(--clr-primary-bg);
  display: flex;
  width: 100%;
}

.header-content {
  max-width: 1440px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  display: flex;
  padding-inline: 40px;
}

header img {
  height: 35px;
}

.main-img-container {
  position: relative;
  max-width: 100%;
}

.main-img {
  display: block;
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.main-img-logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: clamp(120px, 15vi, 200px);
  bottom: clamp(-70px, -5vi, -40px);
}

.main-content {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
}

.rating-container {
  display: flex;
  align-items: center;
  background-color: var(--clr-quaternary-bg);
  border-radius: 10px;
}

.rating-value {
  font-size: 20px;
  font-weight: bold;
}

.rating-count {
  font-size: 18px;
  color: #726d6d;
}

.brand-name {
  color: var(--clr-primary-txt);
  white-space: nowrap;
}

.highlight {
  color: var(--clr-primary-bg);
  white-space: nowrap;
}

.slogan {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  gap: clamp(5px, 1.5vi, 10px);
  width: 100%;
  padding-top: 50px;
}

.food-content-headline {
  height: 44px;
  background-color: #e76c1f;
  position: absolute;
}

.section-header {
  background-color: var(--clr-primary-bg);
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 15px 0;
  box-shadow: 0 0 0 100vmax var(--clr-primary-bg);
  clip-path: inset(0 -100vmax 0 -100vmax);
  margin-bottom: 20px;
}

.section-headline {
  margin: 0;
}

.header-icon {
  bottom: 0;
  height: 40px;
  width: 40px;
  width: auto;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.menu-content {
  display: flex;
  flex-wrap: nowrap;
  gap: 40px;
  max-width: 1440px;
  margin: 0 auto;
  padding-inline: 10px;
  align-items: flex-start;
}

.container-mobile {
  padding-inline: 16px;
}

.footer {
  min-height: 100px;
  background-color: var(--clr-primary-bg);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 20px;
}

.footer-content {
  max-width: 1440px;
  width: 100%;
  display: flex;
  color: #ffffff;
  align-items: center;
  gap: 30px;
  font-size: 18px;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.footer img {
  width: auto;
}

footer a {
  color: #ffffff;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s ease;
  white-space: nowrap;
}

footer a:hover {
  transition: all 0.3s ease;
  box-shadow:
    0 0 5px #ff9900,
    0 0 5px #ff9900,
    0 0 5px #ff6600,
    0 0 10px #ff6600;
  transform: translateY(-2px);
}

.copyright {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 0;
}

.copyright-content {
  margin: 0;
  font-size: inherit;
  display: flex;
  align-items: center;
}
